* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif; }

nav li {
  font-weight: 600; }

nav a {
  color: #525252; }
  nav a:hover {
    transition: 0.6s linear;
    font-weight: bold;
    color: #292929;
    font-size: 18px; }

nav .bg-celeste {
  background-color: #e0f7fa; }

nav .logo {
  width: 85px; }

nav .redes img {
  width: 35px;
  margin: 5px; }

main {
  background-color: #709edb; }
  main .eslogan {
    background-color: #5e6c88;
    background-position: center;
    background-image: url(../assets/imagenes/avion-portada.jpg);
    background-size: cover;
    height: 70vh;
    color: #f3f3f3;
    padding: 15px;
    width: 98%;
    text-align: center;
    animation: eslogan 2s infinite ease-in; }

@keyframes eslogan {
  0% {
    letter-spacing: 10px;
    margin-bottom: -10px; }
  33% {
    letter-spacing: 14px;
    margin-bottom: -10px; }
  66% {
    letter-spacing: 18px;
    margin-bottom: -10px; }
  100% {
    letter-spacing: 10px;
    margin-bottom: -10px; } }
  main h1 {
    font-size: 38px;
    margin-top: 70px;
    color: #292929; }
  main h2 {
    font-size: 35px;
    font-weight: 700; }
  main .nosotros {
    background-color: #709edb;
    color: #f3f3f3;
    box-shadow: 5px -10px 10px #747474ad;
    text-align: center;
    padding: 15px; }
    main .nosotros p {
      display: grid;
      justify-content: center;
      padding: 10px;
      margin: 15px;
      color: #080808;
      font-size: 20px;
      font-weight: 500; }
  main button {
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1.5px solid #050505;
    color: whitesmoke;
    background-color: #709edb; }
    main button:hover {
      background-color: #080808; }
  main .card-destinos {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 280px;
    width: 76%;
    margin: auto; }
    main .card-destinos h5 {
      font-size: 25px;
      display: grid;
      justify-content: center;
      justify-items: center; }
    main .card-destinos p {
      font-weight: 500; }
    main .card-destinos form {
      display: grid;
      margin: 60px;
      justify-items: center; }
    main .card-destinos .card-img {
      background-color: black;
      background-position: center center;
      background-size: 100%;
      background-repeat: no-repeat;
      height: 220px;
      width: auto;
      border-radius: 15px;
      box-shadow: 5px 5px 13px #7474744f; }
      main .card-destinos .card-img button {
        padding: 10px;
        background-color: grey;
        border-radius: 10px;
        color: white;
        margin: auto; }
        main .card-destinos .card-img button:hover {
          background-color: #080808; }
    main .card-destinos .carta-madrid {
      background-image: url(../assets/imagenes/madrid.jpg); }
    main .card-destinos .carta-new-york {
      background-image: url(../assets/imagenes/new-york.jpg); }
    main .card-destinos .carta-rio {
      background-image: url(../assets/imagenes/rio.jpg); }
    main .card-destinos .carta-roma {
      background-image: url(../assets/imagenes/roma.jpg); }
    main .card-destinos .carta-miami {
      background-image: url(../assets/imagenes/miami.jpg); }
    main .card-destinos .carta-paris {
      background-image: url(../assets/imagenes/paris.jpg); }
  main .crucero-tit {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px; }
    main .crucero-tit h3 {
      font-size: 23px; }
    main .crucero-tit h4 {
      font-size: 18px; }
  main .crucero, main .crucero .crucero-text, main .crucero .crucero-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; }
    main .crucero img, main .crucero .crucero-text img, main .crucero .crucero-contacto img {
      width: 620px;
      border-radius: 20px;
      box-shadow: 7px 7px 15px #31e9e94f; }
    main .crucero .crucero-text {
      font-size: 17px;
      font-weight: 500;
      margin-top: 15px;
      margin-bottom: 15px;
      padding-left: 60px; }
    main .crucero .crucero-contacto {
      display: flex;
      text-align: center; }
      main .crucero .crucero-contacto button {
        background-color: #80deea; }
        main .crucero .crucero-contacto button:hover {
          background-color: #080808; }
  main .section-dest {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 280px;
    width: 76%;
    margin: auto; }
    main .section-dest img {
      display: flex;
      width: 300px;
      border-radius: 15px;
      box-shadow: 5px 5px 13px #7474744f; }
      main .section-dest img .animate__backInLeft {
        animation: animate__animated animate__backInLeft 2s; }
      main .section-dest img .animate__backInDown {
        animation: animate__backInDown animate__animated 2s; }
      main .section-dest img .animate__backInUp {
        animation: animate__animated animate__backInUp 2s; }
      main .section-dest img .animate__backInRight {
        animation: animate__animated animate__backInRight 2s; }
    main .section-dest p {
      margin: 10px;
      font-weight: 500;
      justify-content: center;
      justify-items: center; }

.contacto-main {
  background-image: url(../assets/imagenes/playa-contactos.jpg);
  background-color: #5e6c88;
  background-position: center;
  background-size: cover;
  height: auto;
  color: #141414;
  font-size: 20px;
  font-weight: 500;
  padding: 15px;
  width: 100%;
  text-align: center; }
  .contacto-main .frase-contacto {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: 700;
    margin-right: 40px;
    padding-right: 10px;
    color: #001149; }
  .contacto-main .animate__zoomInDown {
    animation: animate__animated animate__zoomInDown 3s infinite;
    color: #740060; }

.main-empresa h1 {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 5px; }

.main-empresa p {
  text-align: center;
  justify-content: center;
  padding: 15px;
  font-weight: 400; }

.main-empresa .img-empresa {
  display: flex;
  width: 900px;
  padding-left: 80px;
  height: 100vh; }

.main-promo {
  background-color: #e6e6e6; }

footer {
  background-color: #e0f7fa;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center; }

@media (max-width: 768px) {
  .viajes .card-destinos {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    width: 90%; }
  .section-dest {
    display: flex;
    flex-direction: column; }
  .animate__animated {
    animation: none; }
  .crucero img, main .crucero .crucero-text img, main .crucero .crucero-contacto img {
    width: 65%; }
  .crucero .crucero-text, main .crucero .crucero-text .crucero-text, main .crucero .crucero-contacto .crucero-text {
    display: none; }
  .main-empresa p {
    font-size: small; }
  .main-empresa .img-empresa {
    width: 450px;
    height: 60vh; }
  footer {
    margin: 0;
    padding-top: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    align-items: center;
    gap: 1em; }
    footer img {
      width: 55%;
      margin-left: 70px; } }
