*{
    padding: 0;
    margin: 0; 
    list-style-type: none;   
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    
}
@import "variables";
@import "nav";
@import "main";
@import "footer";



@media screen and (max-width: 768px) {
    .viajes {
        .card-destinos { 
            grid-template-columns: 1fr ;
            grid-template-rows: repeat(3,1fr) ;
            width:90%;
            }
    }
        .section-dest{
            display: flex;
            flex-direction: column;
        }
        .animate__animated{
            animation:none
        }
         .crucero {
            img{
                width: 65%;
             }  
             .crucero-text {
                display:none
            } 
         } 
         
         .main-empresa {
            flex-direction: column;
            div {
                width: 80%;
            }

            p {
                font-size: small;
            }
            .img-empresa {
                // width:100%;
                height:auto;
             }
    
         } 
         
    
    footer {
        margin: 0;
        padding-top: 30px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        gap: 1em;

        h4, h5 {
            display: none;
        }
    }


    .main-destinos {

    
    
        .gallery {
            grid-template-columns: repeat(2, 1fr) !important;
            grid-template-rows: repeat(14, 5vw) !important;
            grid-gap: 1.5rem; 
        
          .gallery-item--3 {     
            grid-column: 1 / span 2;
            grid-row: 1 / span 4; 
          }
      
          .gallery-item--1 {    
            grid-column: 1 ; 
            grid-row: 5 / span 3;

            p {
                display: none ;
            }
          }    
        
          .gallery-item--2 {
            
            grid-column: 2; 
            grid-row: 5 / span 3;
            p {
                display: none ;
            }
            }  
    
    
    .gallery-item--4 {     
      grid-column: 1 / span 2; 
      grid-row: 8 / span 4;
    }
    
    .gallery-item--5 {
    
      grid-column: 1 ;
      grid-row: 12 / span 3;
      p {
        display: none ;
    }
    }
    
    .gallery-item--6 {
     
      grid-column: 2;
      grid-row: 12 / span 3;
      p {
        display: none ;
    }
    }
    
    
    


    }
    
    
    
    
    
        
    }

        
}
